<!DOCTYPE html>
<html>
<head>
	<title>test01.html</title>
	<!-- download: http://jquery.com/download -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
	
	//jQuery.fn.serializeObject = function() {
	$.fn.serializeObject = function() {
		var obj = null;
		try {
			if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
				var arr = this.serializeArray();
				if (arr) {
					obj = {};
					jQuery.each(arr, function() {
						obj[this.name] = this.value;
					});
				}//if ( arr ) {
			}
		} catch (e) {
			alert(e.message);
		} finally {
		}
		return obj;
	};
	
	// script loader
	$(function() {
		// https://api.jquery.com/jquery.ajax/
		/*
			function showValues() {
				$("#text").text($("form").serialize());
			}
			$("input[type='text']").on("keydown", showValues);
			$("input[type='checkbox'], input[type='radio']").on("click", showValues);
			$("select").on("change", showValues);
		*/
		// success > complete > done > always
		// error > complete > fail > always
		$('#btnAction1').on('click', function(event){
			console.log('btnAction1');
			$.ajax({
				url: "/v0.1/rest/users",
				method: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({user: 'gksruf2848', val: '123'}),
				dataType: "json",
				beforeSend: function() {
					var obj1 = {};
					obj1.user = $('#in1').val();
					obj1.val = '123';
					this.data = JSON.stringify(obj1);
					console.log('beforeSend... data: ' + this.data);
				}
			})
			.done(function(json) {
				console.log('done.json: ' + JSON.stringify(json));
				$('#out1').val(JSON.stringify(json));
			})
			.fail(function(xhr, status, errorThrown) {
				alert('ERROR');
				console.log('fail.errmsg: ' + errorThrown)
				console.log('fail.status: ' + status)
			})
			.always(function(xhr, status) {
				console.log('always.status: ' + status)
			});
		});
	});
	</script>
</head>
<body>
	<h1>Ajax: test01</h1>
	<input id='in1' type='text' value='C001'><br>
	<input id='out1' type='text' value=''><br>
	<button id="btnAction1">LOGIN</button>

	<br>
	
</body>
</html>