<!DOCTYPE html>
<html>
<head>
	<title>login.html</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script>
	
	//jQuery.fn.serializeObject = function() {
	$.fn.serializeObject = function() {
		var obj = null;
		try {
			if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
				var arr = this.serializeArray();
				if (arr) {
					obj = {};
					jQuery.each(arr, function() {
						obj[this.name] = this.value;
					});
				}//if ( arr ) {
			}
		} catch (e) {
			alert(e.message);
		} finally {
		}
		return obj;
	};
	// script loader
	$(function() {
		// https://api.jquery.com/jquery.ajax/
		/*
			function showValues() {
				$("#text").text($("form").serialize());
			}
			$("input[type='text']").on("keydown", showValues);
			$("input[type='checkbox'], input[type='radio']").on("click", showValues);
			$("select").on("change", showValues);
		*/
		// success > complete > done > always
		// error > complete > fail > always
		$('#btnAction1').on('click', function(event){
			console.log('btnAction1');
			$.ajax({
				url: "/v0.1/user/logincheck",
				method: "POST",
				contentType: "application/json; charset=utf-8",
				data: JSON.stringify({user: 'gksruf2848', val: '123'}),
				dataType: "json",
				beforeSend: function() {
					//alert('BEFORE');
					var obj1 = {};
					this.data = JSON.stringify($("form").serializeObject());
					console.log('beforeSend... data: ' + this.data);
					//this.data = JSON.stringify(this.data);
					//console.log('beforeSend... data: ' + this.data);
				}
			})
			.done(function(json) {
				console.log('done.json: ' + json.msg);
				//alert('STOP');
				if (json.msg == "success") {
					//alert('SUCCESS');
					location.href = "/v0.1/user/loginsuccess";
				} else {
					//alert('FAIL');
					location.href = "/v0.1/user/loginfail";
				}
				//alert('SUCCESS');
				//location.href = "/v0.1/user/loginsuccess"

				//$('#out1').val(JSON.stringify(json));
			})
			.fail(function(xhr, status, errorThrown) {
				alert('ERROR');
				location.href = "/v0.1/user/loginfail"
				//console.log('fail.errmsg: ' + errorThrown)
				//console.log('fail.status: ' + status)
			})
			.always(function(xhr, status) {
				console.log('always.status: ' + status)
			});
		});
	});
	</script>
</head>
<body>
	<h1>Main</h1>
	<form>
	<input id='userid' type='text' name='user' value=''><br>
	<input id='password' type='password' name='pw' value=''><br>
	<button id="btnAction1">LOGIN</button>
	</form>
	<br>
</body>
</html>


